@page "/controlpanel"

<table>
    <tr>
        <td style="width:230px;">
            <div class="card" style="width: 230px;">
                <div class="card-header">
    控制面板
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">组织机构</li>
    <li class="list-group-item">用户管理</li>
    <li class="list-group-item">角色管理</li>
    <li class="list-group-item">租户管理</li>
  </ul>
</div>
        </td>
        <td>
          <Router AppAssembly="typeof(Startup).Assembly">
    <NotFoundContent>
        <h1>Sorry</h1>
        <p>Sorry, there's nothing at this address.</p> b
    </NotFoundContent>
</Router>
        </td>
    </tr>
</table>